button{
    display: flex;
    min-width: 130px;
    height: 100px;
    font-size: 100px;
    padding: 30px;
    text-align: center;
    align-items: center;
}
input{
    width: 130*2px;
    height: 100px;
    font-size: 100px;
}